{% extends 'base.html' %}


{% block title %} wrapper.title {% endblock %}


{% block content %}



<main>
    <div class="container">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">{{ subject.title }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'list_of_links' wrapper.id %}">{{ wrapper.title }}</a></li>
            </ol>
        </nav>

        <div class="">

            {% for link in links %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="display:inline">{{ link.title }} </h5>
                    {% for tag in link.tag.all %}
                    <a href="{% url 'tag_detail' tag.id %}" class="badge badge-info"> <i class="fa fa-hashtag"></i> {{ tag.title }}</a>
                    {% endfor %}
                    <hr>
                    <p class="card-text">{{ link.description }}</p>
                    <p class="text-info"> - By {{ link.contributor }}</p>
                    <a href="{{ link.link }}" class="btn btn-primary" target="_blank"> <i class="fa fa-download"></i> download</a>
                    <a href="{% url 'link_detail' link.id %}" class="btn btn-secondary"> <i class="fa fa-eye"></i> more info</a>
                    <hr>
                    <a href="{% url 'like' wrapper_id link.id %}" class="btn btn-outline-info"> <i class="fa fa-thumbs-up"></i> Upvote | {{ link.like_set.all.count }} </a>
                    <a href="{% url 'dislike' wrapper_id link.id %}" class="btn btn-outline-info"> <i class="fa fa-thumbs-down"></i> Downvote | {{ link.dislike_set.all.count }} </a>
                </div>
            </div>
            {% endfor %}

            {% if form %}
            <div class="card">
                <div class="card-body">
                    <h5>Add link</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
            {% endif %}

        </div>

    </div>

</main>

{% endblock %}

