{% extends 'base.html' %}


{% block title %} cse {% endblock %}


{% block content %}


<main>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
            </ol>
        </nav>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Guideline</h5>
                <p class="card-text">
                    To become contributor first register then, request admin to give you permission. <br>
                    Contributor can add links to link wrappers <br>
                    Admin can give permission to user to become contributor through adding him to contributor group.<br>
                    Admin can add subject and link-wrapper to subject through admin-panel. <br>
                </p>
            </div>
        </div>

        {% for subject in subjects %}
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ subject.title }}</h5>
                <p class="card-text">{{ subject.description }}</p>
                {% for link_wrapper in subject.linkwrapper_set.all %}
                <a href="{% url 'list_of_links' link_wrapper.id %}" class="btn btn-light">{{ link_wrapper.title }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>

</main>

{% endblock %}